.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 12px;
  background-color: var(--primary-white-FFFFFF);
  border-radius: 10px;
  min-width: 280px;
  max-height: 90vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  z-index: 1;
}

.modal_content::-webkit-scrollbar {
  width: 0px;
}

.modal_content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.modal_content::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-left: 12px;
}

.btn_close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

.icon_close {
  width: 24px;
  height: 24px;
  color: var(--primary-blue-407BFF);
}

.title {
  color: var(--primary-black-2F2F2F);
  width: 200px;
  height: 64px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}

.add_box_modal {
  padding-left: 12px;
  min-width: 280px;
  padding-right: 12px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 16px;
  color: var(--primary-black-2F2F2F);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.previos_info {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 12px;
  border-radius: 10px;
  background-color: var(--secondary-2-ECF2FF);
  width: 254px;
  margin-bottom: 24px;
}

/* .icon_glass {
  width: 26px;
  height: 26px;
  margin-right: 12px;
} */

.today_volume {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--primary-blue-407BFF);
  margin-right: 16px;
}

.today_time {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: var(--primary-black-2F2F2F);
}

.add_water {
  margin-bottom: 24px;
}

.add_water_container_btn {
  display: flex;
  align-items: center;
}

.button_ml {
  background-color: var(--primary-white-FFFFFF);
  color: var(--primary-blue-407BFF);
  border-radius: 30px;
  border: 1px solid rgb(158, 187, 255);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(64, 123, 255, 0.34);
}

.button_ml:hover {
  box-shadow: 0 4px 14px rgba(64, 123, 255, 0.54);
}

.button_ml:focus {
  box-shadow: 0 4px 14px rgba(64, 123, 255, 0.54);
}

.increment_and_dicrement_icons {
  width: 24px;
  height: 24px;
  color: var(--primary-blue-407BFF);
}

.amount {
  border-radius: 40px;
  background: var(--secondary-5-D7E3FF);
  padding-left: 10px;
  padding-right: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.amoun_water {
  color: var(--primary-blue-407BFF);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  width: 92px;
  height: 36px;
}

.add_paragraf {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary-black-2F2F2F);
  margin-bottom: 12px;
}

.add_time {
  margin-bottom: 24px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--primary-blue-407BFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 95%;
  display: flex;
  padding: 12px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255) !important;
  background-color: var(--primary-white-FFFFFF);
}

.select:hover {
  color: var(--primary-blue-407BFF);
  border: 1px solid var(--primary-blue-407BFF);
}

.select:focus {
  outline: none;
  border: 1px solid var(--primary-blue-407BFF);
}

.error_message {
   position: absolute;
  /* bottom: 1px; */
  left: 1;
  color: var(--secondary-red-EF5050F);
  font-size: 14px;
}

.input_error {
  border: 1px solid var(--secondary-red-EF5050F);
  color: var(--secondary-red-EF5050F);
}

.input_error::placeholder {
  color: var(--secondary-red-EF5050F);
}

.input_time {
  color: var(--primary-blue-407BFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 100%;
  display: flex;
  padding: 12px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255);
  background-color: var(--primary-white-FFFFFF);
}

.input_time::-webkit-calendar-picker-indicator {
  display: none;
}

.input_time::placeholder {
  color: #7faafd;
}

.input_time:hover {
  color: var(--primary-blue-407BFF);
  border: 1px solid var(--primary-blue-407BFF);
}

.input_time:focus {
  outline: none;
  border: 1px solid var(--primary-blue-407BFF);
}

.input_time:not(:placeholder-shown) {
  color: var(--primary-blue-407BFF);
}

.input_number {
  color: var(--primary-blue-407BFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 100%;
  display: flex;
  padding: 12px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid rgb(215, 227, 255);
  background-color: var(--primary-white-FFFFFF);
  outline: none;
}

.input_number::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_number::placeholder {
  color: #7faafd;
}

.input_number:hover {
  color: var(--primary-blue-407BFF);
}

.input_number:focus {
  outline: none;
}

.input_number:not(:placeholder-shown) {
  color: var(--primary-blue-407BFF);
}

.modal_footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.span_ml {
  color: var(--primary-blue-407BFF);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
}
.add_save_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-blue-407BFF);
  color: var(--primary-white-FFFFFF);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  height: 44px;
  box-shadow: 0 4px 8px rgba(64, 123, 255, 0.18);
  transition: background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1.03);
}

.add_save_btn:hover {
  box-shadow: 0 4px 8px rgba(64, 123, 255, 0.18);
}

/*? ---------------------------------- Tablet -------------------------- */

@media screen and (min-width: 768px) {
  .modal_content {
    min-width: 592px;
  }

  .add_box_modal {
    min-width: 704px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
  }

  .title {
    width: 384px;
    height: 32px;
  }

  /* .icon_glass {
    width: 36px;
    height: 36px;
  } */

  .modal_footer {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
  }

  .add_save_btn {
    width: 160px;
  }

  .select {
    width: 97%;
  }
}

/*? ----------------------------------- Desctop -------------------------- */
@media screen and (min-width: 1440px) {
  .add_box_modal {
    min-width: 592px;
  }
}
