.calendar {
  padding-top: 24px;
}
.monthHeader {
  display: flex;
  align-items: center;
}
.month {
  font-size: 24px;
  font-weight: 500;
  margin-right: auto;
  line-height: 30px;
}
.monthHeaderBtn {
  width: 167px;
  display: flex;
}
.monthBtn {
  background-color: inherit;
  color: var(--primary-blue-407BFF);
  width: 14px;
  height: 14px;
}
.monthName {
  color: var(--primary-blue-407BFF);

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.dayliList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  padding-top: 16px;
}
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.daySpan {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  /* border: 1px solid var(--secondary-orange-FF9D43); */
  padding: 7px 6px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.percent {
  color: var(--secondary-4-9EBBFF);
  color: #9ebbff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.unfulfilledDay {
  border: 2px solid var(--secondary-orange-FF9D43);
}

@media (min-width: 768px) {
  .monthHeader {
    width: 656px;
  }
  .month {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
  }

  .dayliList {
    column-gap: 34px;
    row-gap: 20px;
    width: 704px;
  }
  .daySpan {
    width: 34px;
    height: 34px;
    font-size: 16px;
    line-height: 20px;
    padding: 7px;
  }

  .percent {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .monthHeader {
    width: 544px;
  }
  .monthName {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .dayliList {
    column-gap: 22px;
    row-gap: 20px;
    width: 544px;
  }

  .percent {
    font-size: 12px;
    line-height: 18px;
  }
}
