.calendar {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.monthHeader {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.month {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

}

.monthHeaderBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthBtn {
  width: 14px;
  height: 14px;
  background-color: transparent;
  fill: var(--primary-blue-407BFF);

  & svg {
    width: 14px;
    height: 14px;
  }

}

.monthName {
  padding: 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-blue-407BFF);
}

.dayliList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 26px;
  transition-duration: var(--my-transition-duration-500);

}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.daySpan {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-white-FFFFFF);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.percent {
  margin-top: 4px;
  color: var(--secondary-4-9EBBFF);
  color: #9ebbff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.unfulfilledDay {
  border: 2px solid var(--secondary-orange-FF9D43);
}


@media (max-width: 319.9px) {
  .dayliList {
    display: grid;
    gap: 16px 0px;
    grid-template-columns: repeat(auto-fill, minmax(58px, 1fr));
    max-width: 235px;
    transition-duration: var(--my-transition-duration-500);
     
  }
}


@media (min-width: 768px) {

  .month {
    font-size: 26px;
    line-height: 32px;
  }

  .dayliList {
    column-gap: 35.1px;
    row-gap: 20px;
    transition-duration: 0ms;
  }

  .daySpan {
    width: 34px;
    height: 34px;
    font-size: 16px;
    line-height: 20px;

  }

  .percent {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .dayliList {
    column-gap: 22.6px;

  }

  .percent {
    font-size: 12px;
    line-height: 18px;
  }
}