/* @import-normalize; */
@import url(./reset.css);

/* 400 */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --primary-white-FFFFFF: #ffffff;
  --primary-black-2F2F2F: #2f2f2f;
  --primary-blue-407BFF: #407bff;
  --secondary-2-ECF2FF: #ecf2ff;
  --secondary-red-EF5050F: #ef5050;
  --secondary-2-ECF2FF: #ecf2ff;
  --secondary-orange-FF9D43: #ff9d43;
  --secondary-4-9EBBFF: #9ebbff;
  --secondary-5-D7E3FF: #d7e3ff;
  --secondary-6-8BAEFF: #8baeff;

  /* transition params */
  --my-transition-duration: 250ms;
  --my-transition-timing-function: ease-in-out;
  --my-transition-delay: 250ms;
  --my-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--primary-black-2F2F2F);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===================CONTAINER================*/

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
