.welcomeSection {
    padding-top: 24px;
    min-height: 98vh;
    background-image: url('/src/images/background/mob/bg-main-page-mob@1x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
} 

@media (min-width: 768px) {
    .welcomeSection {
        background-image: url('/src/images/background/tab/bg-main-page-tab@1x.png');
        padding-top: 40px;
    }
    .div{
        gap: 60px;
    }
}

@media (min-width: 1440px) {
    .welcomeSection {
        background-image: url('/src/images/background/desktop/bg-main-page-desk@1x.png'), url('/src/images/background/desktop/bg-el-main-page-desk@1x.png');
        padding-top: 49px;
        background-position-y: 100%;
    }
    .div{
        padding-top: 31px;
        flex-direction: row;
        justify-content: center;
        gap: 81px;
        align-items: flex-end;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {

    .welcomeSection {
        background-image: url('/src/images/background/mob/bg-main-page-mob@2x.png');
    }

    @media (min-width: 768px) {
        .welcomeSection {
            background-image: url('/src/images/background/tab/bg-main-page-tab@2x.png');
        }

        .div {
            gap: 60px;
        }
    }

    @media (min-width: 1440px) {
        .welcomeSection {
            background-image: url('/src/images/background/desktop/bg-main-page-desk@2x.png'), url('/src/images/background/desktop/bg-el-main-page-desk@2x.png');
        }
    }
}