.modalWrap {
  width: 280px;
  height: 100vh;
  background-color: var(--primary-white-FFFFFF);
  padding: 32px 12px;
}
.title {
  margin-bottom: 24px;
  font-style: 26px;
  line-height: 32px;
}
.icon {
  stroke: var(--primary-blue-407BFF);
  color: transparent;
}
