.modalWrap {
  position: absolute;
  top: 40px;
  width: 280px;
  padding: 32px 12px;
  background-color: var(--primary-white-FFFFFF);
  border-radius: 10px;
}
.title {
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 32px;
}
.photoText {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}
.fakeImg {
  width: 80px;
  height: 80px;
  background-color: var(--secondary-5-D7E3FF);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputContainer {
  position: relative;
}
.inputWrapperPhoto,
.inputWrapperGender,
.inputWrapperName,
.inputWrapperEmail {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.genderWrapper {
  display: flex;
  gap: 24px;
}
.labelPhoto,
.labelName,
.labelEmail {
  margin-bottom: 8px;
}
.labelGenderWrapper {
  margin-bottom: 12px;
}
.labelPhoto,
.labelGender,
.labelName,
.labelEmail,
.labelPassword {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.labelGender {
  margin-bottom: 12px;
}
.gender {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-size: 16px;
  line-height: 20px;
}
.password {
  font-size: 16px;
  line-height: 20px;
}
.spinnerCss {
  display: block;
  margin: 0 auto;
}
.radioBtn {
  display: block;
  margin-bottom: 10px;
}
.input {
  width: 256px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid var(--secondary-4-9EBBFF);
  color: var(--primary-blue-407BFF);
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}
.input:hover,
.input:focus {
  color: var(--primary-blue-407BFF);
  border: solid 1px var(--secondary-4-9EBBFF);
}

input::placeholder {
  color: var(--secondary-4-9EBBFF);
}

.iconWrapper {
  position: relative;
}
.passwordIcon,
.newPasswordIcon,
.newRepeatPasswordIcon {
  stroke: var(--primary-blue-407BFF);
  position: absolute;
  left: 230px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.errorNameMessage {
  position: absolute;
  left: 0;
  color: var(--secondary-red-EF5050F);
  font-size: 12px;
}
.errorMessage {
  position: absolute;
  left: 0;
  color: var(--secondary-red-EF5050F);
  font-size: 12px;
}

.inputError {
  border: 1px solid var(--secondary-red-EF5050F);
  color: var(--secondary-red-EF5050F);
}

.inputError::placeholder {
  color: var(--secondary-red-EF5050F);
}

.button {
  margin-top: 24px;
  height: 36px;
  background-color: var(--primary-blue-407BFF);
  border-radius: 10px;
  color: var(--primary-white-FFFFFF);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}
.button:hover {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}
.wrapperAvatar {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.buttonAvatar {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--primary-blue-407BFF);
  transition-property: color;
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}
.buttonAvatar:hover {
  color: var(--secondary-orange-FF9D43);
}
.closeBtn {
  position: absolute;
  top: 36px;
  right: 12px;
  cursor: pointer;
  background-color: transparent;
}
.closeIcon {
  width: 24px;
  height: 24px;

  color: var(--primary-blue-407BFF);
  transition-property: color;
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}
.closeIcon:hover {
  color: var(--secondary-orange-FF9D43);
}
@media (min-width: 320px) {
}
@media (min-width: 768px) {
  .modalWrap {
    width: 704px;
    padding: 32px 24px;
  }
  .closeBtn {
    top: 36px;
    right: 24px;
  }
  .input {
    width: 392px;
    height: 44px;
  }
  .passwordIcon,
  .newPasswordIcon,
  .newRepeatPasswordIcon {
    left: 367px;
  }
  .button {
    width: 160px;
    height: 44px;
    font-size: 18px;
    line-height: 24px;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .modalWrap {
    width: 1008px;
    padding: 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapperDesktop {
    display: flex;
    gap: 24px;
  }
  .inputWrapperGender {
    margin-bottom: 52px;
  }
  .genderNameEmailWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .passwordWrapper {
    display: flex;
    gap: 11px;
  }
  .inputWrapperEmail {
    margin-bottom: 0;
  }
}
