@import '../../styles/index.css';

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-image: image-set(
      url('../../images/background/mob/bg-el-sign-in-mob@1x.png') 1x,
      url('../../images/background/mob/bg-el-sign-in-mob@2x.png') 2x
    ),
    image-set(
      url('../../images/background/mob/bottle-for-sign-in-mob@1x.png') 1x,
      url('../../images/background/mob/bottle-for-sign-in-mob@2x.png') 2x
    );
  background-repeat: no-repeat, no-repeat;
  background-position: center top 28px, center top 360px;
  background-size: auto, auto;
  outline: 1px solid red;
}

.signinContainer {
  max-width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin: 24px auto 20px;
}

.title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  color: var(--primary-black-2F2F2F);
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-black-2F2F2F);
}

.fieldContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid var(--secondary-5-D7E3FF);
  outline: none;
  color: var(--primary-blue-407BFF);
  font-size: 16px;
  line-height: 20px;
}
.input:hover,
.input:focus {
  color: var(--primary-blue-407BFF);
}

.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--secondary-5-D7E3FF);
}

.passwordIconContainer {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputContainer {
  position: relative;
}

.passwordIcon {
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-blue-407BFF);
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-white-FFFFFF);
  background-color: var(--primary-blue-407BFF);
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 13px;
  margin-top: 3px;
}

.link {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-blue-407BFF);
}

.errorMessage {
  position: absolute;
  bottom: 1px;
  left: 0;
  color: var(--secondary-red-EF5050F);
  font-size: 14px;
}

.inputError {
  border: 1px solid var(--secondary-red-EF5050F);
  color: var(--secondary-red-EF5050F);
}

.inputError::placeholder {
  color: var(--secondary-red-EF5050F);
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    background-image: image-set(
      url('../../images/background/tab/bottle-for-sign\ in-tab@1x.png') 1x,
      url('../../images/background/tab/bottle-for-sign\ in-tab@2x.png') 2x
    );
    background-repeat: no-repeat;
    background-position: center top -90px;
    background-size: auto;
  }

  .signinContainer {
    max-width: 336px;
    height: 680px;
    margin-left: 32px;
    margin-top: 40px;
  }

  .button {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1280px;
    height: 680px;
    padding-top: 113px;
    margin-top: 49px;
    background-image: image-set(
        url('../../images/background/desktop/bg-el-main-page-desk@1x.png') 1x,
        url('../../images/background/desktop/bg-el-main-page-desk@2x.png') 2x
      ),
      image-set(
        url('../../images/background/desktop/bottle-for-sign-in-desk@1x.png') 1x,
        url('../../images/background/desktop/bottle-for-sign-in-desk@2x.png') 2x
      );
    background-repeat: no-repeat, no-repeat;
    background-position: 0 center, -90px center;
    background-size: contain, auto;
  }

  .signinContainer {
    max-width: 384px;
    height: 312px;
    margin-left: 760px;
  }
}
