.modal {
  position: absolute;
  top: 40px;
  width: 280px;
  max-height: 100vh;
  padding: 24px 12px;
  border-radius: 10px;
  overflow-y: auto;
  background-color: var(--primary-white-FFFFFF);
}
.header {
  display: flex;
  font-size: 26px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  color: var(---primary-black-2F2F2F);
}
.closeButton {
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}
.closeIcon {
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  color: var(--primary-blue-407BFF);
  transition-property: color;
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}

.closeButton:hover .closeIcon {
  color: var(--secondary-orange-FF9D43);
}
.formulaBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formulaBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.formula {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--primary-black-2F2F2F);
}

.formulaText {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  margin-left: 4px;
  color: var(--primary-blue-407BFF);
}
.formulaExplain {
  border: 1px solid var(--secondary-5-D7E3FF);
  border-radius: 6px;
  padding: 10px;
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
}
.calc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calcTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.12;
  color: var(--primary-black-2F2F2F);
}
.calcForm {
  display: flex;
  gap: 24px;
}
.choiceGender {
  margin-right: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: var(--primary-blue-407BFF);
  width: 14px;
  height: 14px;
  border: 1px solid var(--primary-blue-407BFF);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.genderText {
  font-size: 16px;
}
.choiceGender::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-blue-407BFF);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.choiceGender:checked::before {
  visibility: visible;
}

.calcWeight {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.calcLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
}
.calcInput {
  border: 1px solid var(--secondary-5-D7E3FF);
  color: var(--primary-blue-407BFF);
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}
.calcInput::placeholder {
  color: var(--primary-blue-407BFF);
}
.calcQuantity {
  display: flex;
  gap: 6px;
}
.quantitytext {
  width: 190px;
  font-size: 16px;
  line-height: 20px;
}
.quantityInput {
  position: relative;
  color: var(--primary-blue-407BFF);
  font-size: 18px;
  align-self: center;
  font-weight: 700;
  line-height: 1.33;
}
.drinkQuantity {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.drinkInput {
  border: 1px solid var(--secondary-5-D7E3FF);
  color: var(--primary-blue-407BFF);
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  font-size: 16px;
  outline: none;
}
.drinkInput::placeholder {
  color: var(--primary-blue-407BFF);
}

.error {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: var(--secondary-red-EF5050F);
  font-size: 14px;
}

.inputError {
  border-color: var(--secondary-red-EF5050F);
  color: var(--secondary-red-EF5050F);
}
@media (min-width: 320px) {
}
@media (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 32px 24px;
    line-height: 1.23;
  }
  .formula {
    flex-direction: row;
    display: flex;
    margin-bottom: 0px;
    gap: 24px;
  }
  .quantitytext {
    display: contents;
    margin-right: 12px;
  }
  .saveButton {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .modal {
    width: 592px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
